.A{
    text-align: center;
}
.main{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(67, 156, 189);
}
input[type="date"],
input[type="number"],
input[type="email"],
input[type="my text"],
input[type="text"]{
    width: 99%;
}
input[type=submit]{
    border-radius: 30px;
    background-color: black;
    padding:10px;
    margin: 10px;
    color: white;
}
.in{
    text-align: center;
}
input[type=submit]:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:400px){
    .main{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
        padding-right: 3px;
        margin-left: 40px;
        margin-right: 40px;
        background-color: rgb(67, 156, 189);
    }
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="my text"],
    input[type="text"]{
        width: 95%;
    }
    input[type=submit]{
        font-size: 6px;
        border-radius: 30px;
        background-color: black;
        padding:3px;
        margin: 1px;
        color: white;
    }
    h1{
        font-size: 13px;
    }
    h3{
        font-size: 10px;
    }
    p{
        font-size: 8px;
    }
     .text{
         position: absolute;
         visibility: hidden;
     }
}
@media (min-width:400px) and (max-width:1100px){
    .main{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid black;
        border-radius: 5px;
        padding: 2px;
        padding-right: 3px;
        margin-left: 120px;
        margin-right: 120px;
        background-color: rgb(67, 156, 189);
    }
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="my text"],
    input[type="text"]{
        width: 95%;
    }
    input[type=submit]{
        font-size: 8px;
        border-radius: 30px;
        background-color: black;
        padding:3px;
        margin: 2px;
        color: white;
    }
    h1{
        font-size: 15px;
    }
    h3{
        font-size: 13px;
    }
    p{
        font-size: 10px;
    }
     .text{
         position: absolute;
         visibility: hidden;
     }
}@media (min-width:200px) and (max-width:300px){
    .main{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
        padding-right: 3px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: rgb(67, 156, 189);
    }
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="my text"],
    input[type="text"]{
        width: 95%;
    }
    input[type=submit]{
        font-size: 5px;
        border-radius: 30px;
        background-color: black;
        padding:2px;
        margin: 1px;
        color: white;
    }
    h1{
        font-size: 10px;
    }
    h3{
        font-size: 8px;
    }
    p{
        font-size: 6px;
    }
     .text{
         position: absolute;
         visibility: hidden;
     }
}