 body{
     background-color: rgb(153, 138, 138);
 }
 .a{
     margin-left: 250px;
     margin-right: 250px;
    border-radius: 9px;
    background-color: rgb(192, 231, 220);
    padding-bottom: 50px;
    border: 2px solid black;
    text-align: center;
}
.skl{
    color: rgb(13, 81, 217);
    margin-left: 250px;
} 
.skilcontainer{
    border-radius: 9px;
    margin-left: 250px;
    padding-left: 5px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-right: 250px;
    border: 2px solid black;
    background-color: rgb(171, 217, 217);
}
.skill1{
    border-radius: 5px;
    width: 970px;
    height: 5px;
    background-color: rgb(52, 202, 52);
    padding: 5px;
}
.skill2{
    border-radius: 5px;
    width: 900px;
    height: 5px;
    background-color: rgb(21, 202, 21);
    padding: 5px;
}    
 .skill3{
    border-radius: 5px;
    width: 800px;
    height: 5px;
    background-color: rgb(39, 201, 39);
    padding: 5px;
}     
.skill4{
    border-radius: 5px;
    width: 600px;
    height: 5px;
    background-color: rgb(49, 216, 49);
    padding: 5px;
}
.skill5{
    border-radius: 5px;
    width: 350px;
    height: 5px;
    background-color: rgb(29, 209, 29);
    padding: 5px;
}
.skill6{
    border-radius: 5px;
    width: 256px;
    height: 5px;
    background-color: rgb(14, 209, 14);
    padding: 5px;
}
.skill7{
    border-radius: 5px;
    width: 150px;
    height: 5px;
    background-color: rgb(13, 211, 13);
    padding: 5px;
}
h2{
    word-spacing: 3px;
}
@media (min-width:70px) and (max-width:250px)
{

    .a{
        margin-left: 10px;
        margin-right: 10px;
       border-radius: 9px;
       background-color: rgb(192, 231, 220);
       padding-bottom: 3px;
       border: 2px solid black;
       text-align: center;
   }
   .skl{
       color: rgb(13, 81, 217);
       margin-left: 10px;
   } 
   .skilcontainer{
       border-radius: 9px;
       margin-left: 10px;
       padding-left: 1px;
       padding-bottom: 2px;
       padding-top: 2px;
       margin-right: 10px;
       border: 2px solid black;
       background-color: rgb(171, 217, 217);
   }
   .skill1{
       width: 180px;
       height: 1px;
       background-color: rgb(52, 202, 52);
       padding: 5px;
   }
   .skill2{
       width: 160px;
       height: 1px;
       background-color: rgb(21, 202, 21);
       padding: 5px;
   }    
    .skill3{
       width: 140px;
       height: 1px;
       background-color: rgb(39, 201, 39);
       padding: 5px;
   }     
   .skill4{
       width: 100px;
       height: 1px;
       background-color: rgb(49, 216, 49);
       padding: 5px;
   }
   .skill5{
       width: 60px;
       height: 1px;
       background-color: rgb(29, 209, 29);
       padding: 5px;
   }
   .skill6{
       width: 40px;
       height: 1px;
       background-color: rgb(14, 209, 14);
       padding: 5px;
   }
   .skill7{
       width: 20px;
       height: 1px;
       background-color: rgb(13, 211, 13);
       padding: 5px;
   }
   h1{
       font-size: 16px;
   }
   h2{
       font-size: 13px;
   }
   h3{
       font-size: 10px;
   }
   p{
       font-size: 9px;
   }
}
@media (min-width:250px) and (max-width:350px)
{

    .a{
        margin-left: 10px;
        margin-right: 10px;
       border-radius: 9px;
       background-color: rgb(192, 231, 220);
       padding-bottom: 3px;
       border: 2px solid black;
       text-align: center;
   }
   .skl{
       color: rgb(13, 81, 217);
       margin-left: 10px;
   } 
   .skilcontainer{
       border-radius: 9px;
       margin-left: 10px;
       padding-left: 1px;
       padding-bottom: 2px;
       padding-top: 2px;
       margin-right: 10px;
       border: 2px solid black;
       background-color: rgb(171, 217, 217);
   }
   .skill1{
       width: 240px;
       height: 1px;
       background-color: rgb(52, 202, 52);
       padding: 5px;
   }
   .skill2{
       width: 220px;
       height: 1px;
       background-color: rgb(21, 202, 21);
       padding: 5px;
   }    
    .skill3{
       width: 180px;
       height: 1px;
       background-color: rgb(39, 201, 39);
       padding: 5px;
   }     
   .skill4{
       width: 140px;
       height: 1px;
       background-color: rgb(49, 216, 49);
       padding: 5px;
   }
   .skill5{
       width: 60px;
       height: 1px;
       background-color: rgb(29, 209, 29);
       padding: 5px;
   }
   .skill6{
       width: 40px;
       height: 1px;
       background-color: rgb(14, 209, 14);
       padding: 5px;
   }
   .skill7{
       width: 20px;
       height: 1px;
       background-color: rgb(13, 211, 13);
       padding: 5px;
   }
   h1{
       font-size: 16px;
   }
   h2{
       font-size: 13px;
   }
   h3{
       font-size: 10px;
   }
   p{
       font-size: 9px;
   }
}

@media (min-width:350px) and (max-width:700px)
{

    .a{
        margin-left: 15px;
        margin-right: 15px;
       border-radius: 9px;
       background-color: rgb(192, 231, 220);
       padding-bottom: 4px;
       border: 2px solid black;
       text-align: center;
   }
   .skl{
       color: rgb(13, 81, 217);
       margin-left: 15px;
   } 
   .skilcontainer{
       border-radius: 9px;
       margin-left: 12px;
       padding-left: 1px;
       padding-bottom: 2px;
       padding-top: 2px;
       margin-right: 12px;
       border: 2px solid black;
       background-color: rgb(171, 217, 217);
   }
   .skill1{
       width: 300px;
       height: 1px;
       background-color: rgb(52, 202, 52);
       padding: 5px;
   }
   .skill2{
       width: 280px;
       height: 1px;
       background-color: rgb(21, 202, 21);
       padding: 5px;
   }    
    .skill3{
       width: 260px;
       height: 1px;
       background-color: rgb(39, 201, 39);
       padding: 5px;
   }     
   .skill4{
       width: 200px;
       height: 1px;
       background-color: rgb(49, 216, 49);
       padding: 5px;
   }
   .skill5{
       width: 100px;
       height: 1px;
       background-color: rgb(29, 209, 29);
       padding: 5px;
   }
   .skill6{
       width: 60px;
       height: 1px;
       background-color: rgb(14, 209, 14);
       padding: 5px;
   }
   .skill7{
       width: 40px;
       height: 1px;
       background-color: rgb(13, 211, 13);
       padding: 5px;
   }
 @media (min-width:700px) and (max-width:1300px){
    .skill1{
        border-radius: 5px;
        width: 740px;
        height: 5px;
        background-color: rgb(52, 202, 52);
        padding: 5px;
    }
    .skill2{
        border-radius: 5px;
        width: 710px;
        height: 5px;
        background-color: rgb(21, 202, 21);
        padding: 5px;
    }    
     .skill3{
        border-radius: 5px;
        width: 580px;
        height: 5px;
        background-color: rgb(39, 201, 39);
        padding: 5px;
    }     
    .skill4{
        border-radius: 5px;
        width: 500px;
        height: 5px;
        background-color: rgb(49, 216, 49);
        padding: 5px;
    }
    .skill5{
        border-radius: 5px;
        width: 330px;
        height: 5px;
        background-color: rgb(29, 209, 29);
        padding: 5px;
    }
    .skill6{
        border-radius: 5px;
        width: 260px;
        height: 5px;
        background-color: rgb(14, 209, 14);
        padding: 5px;
    }
    .skill7{
        border-radius: 5px;
        width: 150px;
        height: 5px;
        background-color: rgb(13, 211, 13);
        padding: 5px;
    }
}

   h1{
       font-size: 16px;
   }
   h2{
       font-size: 13px;
   }
   h3{
       font-size: 10px;
   }
   p{
       font-size: 9px;
   }
}
