*{
    margin: 0px;
    padding: 0px;
}
.logo{
    clip-path: circle();
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 4, 60);
    width:100%;
    align-items: center;
    justify-content:center center;

}
nav ul li{
    display: inline-flex;
    list-style-type: none;
    margin: 10px 20px;

}
nav ul li a{
    padding: 12px;
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    font-weight:bolder;
    border-radius: 28px;

}
nav ul li a:hover{
    background-color: white;
    color: black;
}
.vishal{
    margin-top:4%;
    margin-left:0%;
}
.vishal::after{
    content: "";
    background:url('p.jpg') no-repeat center center/cover;
    position: absolute;
    top: 11%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
h1{
    font-size: 50px;
    color: white;
    margin-bottom: 12px;
}
h2{
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
}
span{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
}
.vishal p{
    color: rgb(254, 250, 250);
    padding: 12px 12px;
    margin-bottom: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}

.button button{
    font-size: 16px;
    border: none;
    border-radius: 35px;
    background-color:dodgerblue;
    padding:15px;
    margin: 10px;
    color: white;
}
.button button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
@media (min-width:360px) and (max-width:700px){
    nav ul li{
        display: inline-flex;
        list-style-type: none;
        margin: 2px 5px;
    
    }
    nav ul li a{
        padding: 2px;
        text-decoration: none;
        color: black;
        font-size: 5px;
        font-weight:bolder;
        border-radius: 28px;
    
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: -3px;
    }
    span{
        font-size: 20px;
    }
           
    .button button{
        border-radius: 35px;
        background-color:dodgerblue;
        padding:8px;
        margin: 5px;
        color: white;
    }
                nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        border-radius: 28px;
    
    }
            }
            @media (min-width:100px) and (max-width:200px){
    nav ul li{
        display: inline-flex;
        list-style-type: none;
        margin: 1px 3px;
    
    }
    nav ul li a{
        padding: 1px;
        text-decoration: none;
        color: black;
        font-size: 3px;
        font-weight:bolder;
        border-radius: 28px;
    
    }
    h1{
        font-size: 8px;
    }
    h2{
        font-size: 6px;
    }
    span{
        font-size: 6px;
    }
           
    .button button{
        font-size: 2px;
        border-radius: 30px;
        background-color: dodgerblue;
        padding:2px;
        margin: 1px;
        color: white;
    }
    p{
        font-size: 6px;
    }
            }
            @media (min-width:200px) and (max-width:280px){
                nav ul li{
        display: inline-flex;
        list-style-type: none;
        margin: 2px 4px;
    
    }
    nav ul li a{
        padding: 2px;
        text-decoration: none;
        color: black;
        font-size: 4px;
        font-weight:bolder;
        border-radius: 28px;
    
    }
    h1{
        font-size: 10px;
    }
    h2{
        font-size: 8px;
    }
    span{
        font-size: 8px;
    }
           
    .button button{
        font-size: 4px;
        border-radius: 30px;
        background-color: dodgerblue;
        padding:4px;
        margin: 2px;
        color: white;
    }
    p{
        font-size: 8px;
    }
      
            }
            @media (min-width:280px) and (max-width:380px){
                nav ul li{
        display: inline-flex;
        list-style-type: none;
        margin: 4px 6px;
    
    }
    nav ul li a{
        padding: 4px;
        text-decoration: none;
        color: black;
        font-size: 7px;
        font-weight:bolder;
        border-radius: 28px;
    
    }
    h1{
        font-size: 14px;
    }
    h2{
        font-size: 11px;
    }
    span{
        font-size: 11px;
    }
           
    .button button{
        font-size: 6px;
        border-radius: 30px;
        background-color: dodgerblue;
        padding:6px;
        margin: 4px;
        color: white;
    }
    p{
        font-size: 10px;
    }
            }

           
           
            /* media query 1 */


@media (min-width:300px) and (max-width:700px){
    .vishal::after{
        content: "";
        background:url('p.jpg') no-repeat center center/cover;
        position:absolute;
        top: 2%;
        bottom: 0%;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    nav ul li a{
        padding-left: 8px;
        padding: 5px;
        text-decoration: none;
        color:white;
        font-size: 10px;
        font-weight:bolder;
        border-radius: 28px;
    }
    .logo{
        height: 8%;
        width: 8%;
    }
    h1{
        font-size:18px;
    }
    h2{
        font-size: 14px;
    }
    span{
        font-size: 12px;
    }
           
    .button button{
        font-size: 8px;
        border-radius: 30px;
        background-color: dodgerblue;
        padding:6px;
        margin: 4px;
        color: white;
    }
    p{
        font-size: 8px;
    }
}

         /* media query 2 */
    @media (min-width:700px) and (max-width:900px){
        .vishal::after{
            content: "";
            background:url('p.jpg') no-repeat center center/cover;
            position: absolute;
            top: 5%;
            bottom: 0%;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        h1{
            font-size: 35px;
        }
        h2{
            font-size: 30px;
        }
        span{
            font-size: 20px;
        }
               
        .button button{
            font-size: 13px;
            border-radius: 30px;
            background-color: dodgerblue;
            padding:10px;
            margin: 8px;
            color: white;
        }
        p{
            font-size: 14px;
        }
         
        }

             /* media query 3 */
        @media (min-width:900px) and (max-width:1300px){
            .vishal::after{
                content: "";
                background:url('p.jpg') no-repeat center center/cover;
                position: absolute;
                top: 8%;
                bottom: 0%;
                height: 100%;
                width: 100%;
                z-index: -1;
            }
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 40px;
            }
            span{
                font-size: 25px;
            }
                   
            .button button{
                font-size: 15px;
                border-radius: 30px;
                background-color: dodgerblue;
                padding:14px;
                margin: 8px;
                color: white;
            }
            p{
                font-size: 15px;
            }
             
            }